:root {
    --input-linear: linear-gradient(120deg, #6e8ee6, #6ee6e6);
    --button-gradient: linear-gradient( 130deg,#7e9df3,#7c63ee,  #44d1f5);
    --color-white: #fff;
    --title-color: #25252b;
    --color-grey: #87898d;
}


body {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

.login {
    height: 100vh;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    width: 300px;
    background-color: var(--color-white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 12px;

}

.login_title {
    margin-bottom: 30px;
    color: var(--title-color);
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.login_input {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5pox;
    border: unset;
    outline: none;
    text-align: center;
    font-size: 15px;
}

.border {
    height: 2px;
    width: 100%;
    margin-bottom: 12px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;

}

.border::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    margin-bottom: 12px;
    background: var(--input-linear);;
    transition: .3s ease-in-out;
}

.login_input:focus + .border::after {
    width: 100%;
}

.submit {
    width: 100%;
    height: 45px;
    outline: none;
    background: var(--button-gradient);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold; 
    border: unset;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.submit:hover {
    background-position: right;
}

.forgot_password {
    font-size: 16px;
    color: var(--color-grey);
    text-decoration: none;
}

